img{
    width: 450px;
    height: 300px;
    margin: 10px;
    border: 2px solid chartreuse;
    transition: all 1s;
}

img:hover{
    transform: scale(1.1);
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    text-align: center;
    font-family: fantasy;
    color: blueviolet;
    border: 2px solid deeppink;
    padding-top: 20px;
    box-shadow: 8px 8px 8px coral;



}





